@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --pmn-bg: #fff;
    --pmn-txt: #000;
    --i-stroke: 2;
    --i-size: 17px;
}

html, *, *::before, *::after { 
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.65;

    color: var(--pmn-txt);
    background-color: var(--pmn-bg);

    min-height: 100vh;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}

.pmn-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: var(--pmn-txt);
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.pmn-overlay:has(~ header > .pmn-nav .pmn-menu-container > .pmn-menu-links > .pmn-has-dropdown:hover) { opacity: 1; }

.pmn-nav {
    width: 100%;
    height: 45px;
    padding-inline: clamp(0.875rem, 2.5vw, 2.5rem);
    background-color: var(--pmn-bg);
    color: var(--pmn-txt);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-transform: uppercase;

    transition: 0.3s ease-in-out;

    #menuLang, #menuSignin { flex-shrink: 0; }
    #menuLang { margin-inline: -10px; }
}

.pmn-select {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: max-content;
    
    .pmn-select-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 6px;

        width: 100%;
        padding: 10px;
        border: 0;
        background-color: transparent;

        cursor: pointer;
        transition: 0.3s ease-in-out;

        &::after {
            content: "";
            border-left: 3.5px solid transparent;
            border-right: 3.5px solid transparent;
            border-top: 4px solid var(--pmn-txt);
            transform: rotate(0deg);
            transition: 0.3s ease-in-out;
        }

        &[aria-expanded="true"], &:hover { opacity: 0.5; }
        &[aria-expanded="true"]::after { transform: rotate(180deg); }
    }

    .pmn-select-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--pmn-bg);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            padding: 10px;

            &.selected { display: none; }

            &:hover, &:focus { background-color: hsl(from var(--pmn-bg) h s calc(l - 5)); }
        }
        
        &.hidden { display: none; }
    }
}

.pmn-burger {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20px;
    height: 8px;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: var(--pmn-txt);
        transition: 0.3s ease-in-out;
    }

    &::before { top: 0; }
    &::after { bottom: 0; }
}

.pmn-menu-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pmn-mobile-logo {
        display: none;
        width: 97.5%;
        margin-block-end: 13px;
    }
}

.pmn-menu-links {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;

    .pmn-list { 
        padding: 10px;
        cursor: pointer;

        > a {
            color: inherit;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        &:hover {
            font-weight: 700;
            font-size: 18px;
        }
    }

    .pmn-has-dropdown {
        position: relative;
        transition: 0.3s ease-in-out;

        > a {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;

            &::after {
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 6px solid var(--pmn-txt);
                transform: rotate(0deg);
                transition: 0.3s ease-in-out;
            }
        }
        
        .pmn-dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            cursor: pointer;

            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease-in-out;

            .pmn-dropdown-list {
                padding: 10px;
                font-size: 13px;
                font-weight: 400;
                transition: 0.3s ease-in-out;

                > a {
                    color: var(--pmn-bg);
                    text-decoration: none;
                    transition: 0.3s ease-in-out;
                }
            }

            .mobile-only { display: none; }
        }

        &:hover {
            > a { color: var(--pmn-bg); }

            .pmn-dropdown {
                opacity: 1;
                visibility: visible;

                .pmn-dropdown-list:hover {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}

.pmn-nav:has(.pmn-menu-container > .pmn-menu-links > .pmn-has-dropdown:hover){
    background-color: var(--pmn-txt);
}

.pmn-auth {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.875rem;

    .pmn-signin {
        padding: 10px;
        color: var(--pmn-txt);
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover { opacity: 0.5; }
    }

    .bag-btn {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }
}

main {
    position: relative;
    padding-top: 45px;
    min-height: 5000px;
}

.pmn-logo {
    position: fixed;
    z-index: 90;
    top: calc(45px + clamp(0.8125rem, 2vw, 2.125rem));
    left: 50%;
    transform: translateX(-50%);
    width: 97.5%;
    isolation: isolate; 
    mix-blend-mode: difference;
    user-select: none;
    pointer-events: none;
    
    > img {
        width: 100%;
        filter: brightness(0) invert(1);
    }
}

.pmn-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    > img, > video {
        user-select: none;
        pointer-events: none;
        width: 100%;
    }
}

.pmn-padding {
    margin-block: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .pmn-img {
        position: relative;
        margin: auto;

        .pmn-img-crop {
            position: absolute;
            inset: 0;
            overflow: hidden;

            > img, > video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .pmn-img-txt {
            --font-size: clamp(40px, 10vw, 80px);
            position: sticky;
            top: 45px;
            height: calc(50% + calc(var(--font-size)/2));
            width: max-content;
            margin: auto;
            align-content: end;

            h1 {
                display: block;
                margin: 0;
                font-family: 'Hanken Grotesk', sans-serif;
                font-weight: 900;
                font-size: var(--font-size);
                line-height: 1;
                text-transform: uppercase;
                color: var(--pmn-bg);
            }
        }
    }

    .pmn-img:has(> .pmn-img-crop > img) {
        width: clamp(282px, 30vw, 566px);
        aspect-ratio: 566 / 572;
    }

    .pmn-img:has(> .pmn-img-crop > video) {
        width: clamp(346px, 84vw, 1200px);
        aspect-ratio: 1200 / 759;
    }

    .pmn-description {
        max-width: 715px;
        margin: auto;
        padding-inline: 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        text-align: center;

        h3 {
            margin: 0;
            font-weight: bold;
            font-size: clamp(14px, 1vw, 16px);
        }

        p {
            margin: 0;
            font-size: clamp(12px, 1vw, 14px);
        }
    }

    .pmn-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(1.5rem, 4vw, 3.75rem);
        width: clamp(346px, 84vw, 978px);
        margin: auto;

        .pmn-collection#collection01 {
            position: relative;
            grid-column: 1/3;
            aspect-ratio: 2;

            .pmn-crop {
                position: absolute;
                inset: 0;
                overflow: hidden;

                img, video {
                    user-select: none;
                    pointer-events: none;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    width: 978px;
                    height: auto;
                    object-fit: cover;

                    transition: 0.3s ease-in-out;
                }

                img {
                    z-index: 2;
                    opacity: 1;
                    object-position: 0 -94px;
                }

                video { z-index: 1; }
            }

            &:hover .pmn-crop img { opacity: 0; }

            .pmn-collection-txt { --font-size: clamp(30px, 5vw, 60px); }
        }

        .pmn-collection:not(#collection01) {
            position: relative;
            aspect-ratio: 1;

            .pmn-crop {
                position: absolute;
                inset: 0;
                overflow: hidden;

                img {
                    user-select: none;
                    pointer-events: none;
                    position: absolute;
                    left: 50%;

                    width: 455px;
                    aspect-ratio: 1;
                    object-fit: cover;

                    transition: 0.3s ease-in-out;
                }

                img:nth-child(1) {
                    z-index: 2;
                    opacity: 1;
                    transform: translate(-50%, 0);
                }

                img:nth-child(2) {
                    z-index: 1;
                    transform: translate(-50%, 0);
                    object-position: 0 -56px;
                }
            }

            &:hover .pmn-crop img:nth-child(1) {
                opacity: 0;
                transform: translate(-50%, 1%);
            }
        }

        .pmn-collection-txt {
            --font-size: clamp(18px, 3vw, 40px);
            position: absolute;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            padding-inline: 1.25rem;
            text-align: center;
            user-select: none;
            pointer-events: none;

            h1 {
                display: block;
                margin: 0;
                font-family: 'Hanken Grotesk', sans-serif;
                font-weight: 900;
                font-size: var(--font-size);
                line-height: 1;
                text-transform: uppercase;
                color: var(--pmn-bg);
            }
        }
    }
}

@media (max-width: 768px) {
    .pmn-burger {
        display: block;

        &[aria-expanded="true"] {
            &::before { 
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }

            &::after {
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
    }

    .pmn-menu-container {
        z-index: 50;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-block-start: 45px;
        background: var(--pmn-bg);
        flex-direction: column;
        transition: 0.3s ease-in-out;

        &.active { height: 100vh; }

        .pmn-menu-links { flex-direction: column; }
        .pmn-mobile-logo { display: block; }
    }

    .pmn-list {
        > a { color: inherit !important; }

        &:hover {
            font-size: 24px !important;
            font-weight: 700 !important;
        }
    }

    .pmn-has-dropdown {
        > a::after { content: ""; }

        .pmn-dropdown {
            position: relative !important;
            top: 0 !important;
            opacity: 1 !important;
            visibility: visible !important;
            max-height: 0;
            overflow: hidden;
            margin-inline: -10px;

            .pmn-dropdown-list { text-align: center; }
            .pmn-dropdown-list > a { color: var(--pmn-txt) !important; }
        }

        &.active {
            font-size: 24px;
            font-weight: 700;

            > a {
                color: var(--pmn-txt) !important;
                
                &::after { transform: rotate(180deg); }
            }

            .pmn-dropdown { max-height: 300px; }
            .mobile-only { display: block !important; }
        }
    }

    .pmn-auth { column-gap: 0; }

    .pmn-hero {
        > img, > video {
            width: unset;
            height: 100vh;
        }
    }

    .pmn-collection#collection01:hover .pmn-crop img { opacity: 1 !important; }
    .pmn-collection:not(#collection01):hover .pmn-crop img:nth-child(1) {
        opacity: 1 !important;
        transform: translate(-50%, 0) !important;
    }
}

.i {
    stroke-width: var(--i-stroke, 2);
    width: var(--i-size, 24px);
    height: var(--i-size, 24px);
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

p {
    margin-block: 0 1rem;
    margin-inline: 0;
}

p:last-of-type {
    margin-block: 0;
}